.wrapper {
  + .wrapper {
    margin-top: var(--spacing-3);
  }
}

.label {
  display: block;
  font-size: 12px;
  line-height: 18px;
}

.input {
  border-radius: 3px;
  border: 1px solid var(--input-border-color);
  padding: 0 var(--spacing-2);
  line-height: 30px;

  &.disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}
