.mainTitle {
  font-size: var(--main-title-font-size);
  font-weight: 200;
}

.subTitle {
  font-size: var(--sub-title-font-size);
}

.contentTitle {
  font-size: var(--content-title-font-size);
}

.paragraph {
  font-size: var(--paragraph-font-size);
}

.smallParagraph {
  font-size: var(--small-paragraph-font-size);
}
