// TODO I should make mobile first approach - styles should be prepared for mobile device and then with media query changed to be suitable for desktop

.recipeTile {
  position: relative;
  padding: 10px;
  // display: flex;
  // align-items: center;
  // margin-bottom: 16px;
}

.recipePreview {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.recipeHeader {
  font-size: 24px;
  margin-bottom: 8px;
}

.isFavorite {
  position: absolute;
  top: 15%;
  right: 20%;
}
