:root {
  --input-border-color: #191738;
  --main-title-font-size: 30px;
  --sub-title-font-size: 24px;
  --content-title-font-size: 18px;
  --paragraph-font-size: 14px;
  --small-paragraph-font-size: 12px;
  --input-label-font-size: 11px;
  --spacing-1: 2px;
  --spacing-2: 6px;
  --spacing-3: 12px;
  --spacing-4: 18px;
  --spacing-5: 24px;
  --spaging-6: 30px;
  --spacing-7: 36px;
  --spacing-8: 48px;
  --spacing-9: 60px;

  font-family: Raleway, sans-serif;
  line-height: 1.5;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
